{% extends "gestionamiento_app/base.html" %}

{% load static %}

{% block content %}

<br>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h2 style="color:white;">Inicia sesión para poder ver y crear reportes</h2>
    <a href="{% url 'iniciar_sesion' %}" style="color: white;">Iniciar sesión</a> &nbsp; &nbsp; <a href="{%url 'Autenticacion' %}"style="color: white;">Registrarse</a>
  
</body>
</html>

<br>

{% endblock %}